<div class="body-container">
  <div class="app-container">
    <h1 class="detail-title">
      Users List
    </h1>
    <div *ngFor="let user of users" class="user-list">
      <div class="user-card">
        <div class="user-name">
          <span>{{user.name}}</span>
        </div>
        <div class="company-name">
          <span>{{user.company.name}}</span>
        </div>
        <div class="view-posts-link">
          <span (click)="viewPosts(user)">View Posts ></span>
        </div>
      </div>
    </div>
  </div>
</div>
