
body {
  font-size: 14px;
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

*:focus {
  outline: none;
}

button:focus {
  outline: 0;
}

.col {
  padding: 0px !important;
}

.col-centered {
  padding: 0px !important;
  margin: auto;
}

.font-blue {
  color: #1055B6;
}

.background-white{
  background-color: #ffffff !important;
}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
  display: flex;
}

.detail-title {
  font-weight: bold !important;
  font-family: Roboto;
  margin-right: 10px;
  padding-bottom: 5px;
  color: #1055B6;
  border-bottom: 1px solid #CCCEDA;
}

.normal-text {
  color: #616772 !important;
  font-weight: normal !important;
  font-size: 14px !important;
  line-height: 22px !important;
}

.separator {
  margin: 0 10px;
}

.full-width {
  width: 100% !important;
}

.app-container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 50px;
  background: white;
}

.body-container {
  background-color: #EBEEF4;
  padding: 40px 100px 2em 100px;
  min-height: calc(100% - 40px);

  .user-list {
    padding: 20px;
    padding-bottom: 0;
    border-bottom: 1px solid #EBEEF4;

    .user-card{
      background-color: white;
      padding: 20px;
      display: flex;
      font-size: 18px;
      justify-content: space-between;
    }
  }
}
